{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "css/pizza_detail.css" %}">
<link rel="stylesheet" href="{% static "css/table.css" %}">
<div class="main">
  <ul class="cards">
    <li class="cards_item" id="item_salad">
      <div class="card">
        <div class="card_price">${{pizzas.price}}</div>
        <div class="card_image"><a href="{%url 'pizza_page' pizzas.name%}"><img src="{{pizzas.image.url}}" width="900"></a></div>
        <div class="card_content">
          <h2 class="card_title">{{pizzas.name}}</h2>
          <div class="card_text">
            <p><font color="white">{{pizzas.description}}</font></p>
              <button type="submit" name="add_burger" class="btn btn-success"><a href="{% url 'update_pizza' pizzas.name %}"
                                                                           class="btn btn-success">Update</a></button>
              <button type="submit" name="add_burger" class="btn btn-success"><a href="{% url 'delete_pizza' pizzas.name %}"
                                                                           class="btn btn-success">Delete</a></button>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <table border="1">
    <thead>
        <tr>
            <th>Num</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Price</th>
            <th>Calories</th>
        </tr>
    </thead>
    <tbody>
    {%for sim in similar%}
        <tr>
            <td>{{sim.pk}}</td>
            <td>{{sim.name}}</td>
            <td><img src="{{sim.image.url}}"></td>
            <td>{{sim.price}}</td>
            <td>{{sim.calories}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>

{% endblock %}