{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% if title %}{{ title }}{% endif %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/home.css" %}">
    <link rel="stylesheet" href="{% static "css/peginator.css" %}">

</head>
<body>


<h1>Pizza Python Website</h1>
<ul class="navbar-container">

    <li class="navbar-item">Home<span class="navbar-item_label"><a href="">Home</a></span></li>
    <li class="navbar-item">Food<span class="navbar-item_label">Food</span>
        <ul class="navbar-container_sub">
            <li class="navbar-item_sub"><a href="{% url 'pizzas' %}">Pizzas</a></li>
            <li class="navbar-item_sub"><a href="{% url 'burgers' %}">Burgers</a></li>
            <li class="navbar-item_sub">Product 3</li>
        </ul>
    </li>
    <li class="navbar-item">aaa<span class="navbar-item_label">aaa</span>
    </li>
    <li class="navbar-item">Products<span class="navbar-item_label">Products</span>
        <ul class="navbar-container_sub">
            <li class="navbar-item_sub"><a href="{% url 'home' %}">Restaurant</a></li>
            <li class="navbar-item_sub"><a href=" {% url 'search_page' %}">Search</a></li>
            <li class="navbar-item_sub">Product 3</li>
        </ul>
    </li>
    <li class="navbar-item">About<span class="navbar-item_label"><a href="{% url "about_us" %}">About</a></span></li>
</ul>

{% block content %}

{% endblock %}

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</html>